
#nav{
	padding: 0px;
	margin: 0px;
	background: rgba(16, 63, 159, 0.7);
}

#nav ul{
	margin: 0px;
	list-style: none;
	padding-left: 20px;
}

#nav ul li{
	float:left;
	margin-right: 20px;
}

#nav ul li a{
	display: block;
	color: white;
	height: 30px;
	line-height: 29px;
	padding-left: 10px;
	padding-right: 10px;
	transition: all 300ms;
}

#nav ul li a:hover{
	text-decoration: none;
	background: #070980;
}

.activado{
	text-decoration: none !important;
	border-bottom:4px solid #d5d6ed  !important;
}

#content{
  min-height:200px;
	margin-top:30px;
	border-radius: 2px;
	background: white;
	box-shadow: 0px 2px 5px #ccc;
	padding: 0px;
	overflow: hidden;
}

#main{
  min-height: 200px;
}

#footer{
	margin-top:30px;
	padding-top: 10px;
	border-top:1px solid #eee;
	color: gray;
}

.lista{
	list-style: none;
}
